<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961719847209-t3d1q65oj64eogo9t8kmonm697nst5iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961719847209-t3d1q65oj64eogo9t8kmonm697nst5iu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961719847209-76bnkfrrpf0hoa194vs0hdeasc9qihtv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDM7IGoiajW5OlJ4gIRYV5dl8yzmUcmE2A</string>
	<key>GCM_SENDER_ID</key>
	<string>961719847209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idnytRevamped</string>
	<key>PROJECT_ID</key>
	<string>idnyt-revamped-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>idnyt-revamped-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961719847209:ios:5fd3bfa71adc0099c8cf38</string>
</dict>
</plist>